.form-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-logo {
  width: 100px;
  margin-bottom: 50px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

button {
  width: 9rem;
  padding: 0.5rem;
  border: 0.5px solid #d2c4b2;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #e8aaa3;
  color: white;
}

.register {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.form__error {
  color: #d65757;
  font-size: 0.7rem;
  padding: 0px;
  margin-top: 0;
}

.confirmation-text {
  font-size: 0.8rem;
}

.form__button {
  margin-top: 60px;
  width: 100%;
  padding: 0.5rem;
  border: 0.5px solid #5860c5;
  border-radius: 4px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #6268d4;
  color: white;
  margin-top: 40px;
}

.form__button:hover {
  background-color: #484e9f;
}

.form__link {
  text-decoration: underline;
  color: #484e9f;
}
