.container {
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
   max-height: 530px; /* この値は希望の高さに応じて調整してください */
  overflow-y: auto; /* 垂直方向にスクロールバーを表示する */
}

.resultItem {
  grid-template-columns: min-content 1fr; // ラジオボタンの幅を最小にし、残りの領域を詳細に使用
  align-items: center; // 項目の内容を中央揃え
  padding: 0.5rem;

  &:hover {
    background-color: #e0e0e0; // ホバー時の背景色
  }
}

.textArea {
  width: 80%;
  padding: 0.5rem;
  resize: vertical; // 縦方向のリサイズのみを許可
  margin: auto;
}

.submitButtonContainer {
  display: flex;
  justify-content: center; // 中央にボタンを配置
  margin-top: 1rem;
}

.submitButton {
  padding: 0.8rem 1.2rem;
  background-color: #4caf50; // 緑色の背景
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #45a049; // ホバー時の色
  }
}
